
	body {
  margin:0px !important;
  font-family:Arial, sans-serif;
  display:inline;
	}
	img
	{
		width: 100%;
	}
.card {
	margin-top: 20px;
	margin-bottom: 20px;
display: inline-block;
width:50%;

}
